
h1
{
color:cyan;
margin-left:20px;
}
body
{
background:url("mmimage.jpg");
background-repeat:no-repeat;
}
H2
{
font-size:20px;color:red;font-family:arial;
}
H5
{
color:orange;font-family:Garamond;
}
ul
{
margin-left:10px;font-size:15px;color:yellow;font-family:Veredan;
}
